<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>FoodSaver требует доступ к камере, чтобы автоматически менять ориентацию изображения</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FoodSaver требует доступ к вашей галлереи, чтобы вы могли загрузать фотографии продуктов и ресторанов</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
